<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hyper.darye.mvc.mapper.order.delivery.OrderDeliveryMainMapper">
  <resultMap id="BaseResultMap" type="hyper.darye.mvc.model.entity.OrderDeliveryMain">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="ORDER_MAIN_ID" jdbcType="BIGINT" property="orderMainId" />
    <result column="ORDER_TYPE_CODE_ID" jdbcType="BIGINT" property="orderTypeCodeId" />
    <result column="RECEIVER_NAME" jdbcType="VARCHAR" property="receiverName" />
    <result column="RECEIVER_CONTACT" jdbcType="VARCHAR" property="receiverContact" />
    <result column="DELIVERY_ADDRESS" jdbcType="VARCHAR" property="deliveryAddress" />
    <result column="DELIVERY_DETAIL_ADDRESS" jdbcType="VARCHAR" property="deliveryDetailAddress" />
    <result column="DELIVERY_COMPANY_NAME" jdbcType="VARCHAR" property="deliveryCompanyName" />
    <result column="TRACKING_NUMBER" jdbcType="VARCHAR" property="trackingNumber" />
    <result column="DELIVERY_REQUEST_NOTE" jdbcType="VARCHAR" property="deliveryRequestNote" />
    <result column="CREATED_DATE" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="LAST_MODIFIED_DATE" jdbcType="TIMESTAMP" property="lastModifiedDate" />
    <result column="LAST_MODIFIED_MEMBER" jdbcType="BIGINT" property="lastModifiedMember" />
    <result column="DELETED_DATE" jdbcType="TIMESTAMP" property="deletedDate" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, ORDER_MAIN_ID, ORDER_TYPE_CODE_ID, RECEIVER_NAME, RECEIVER_CONTACT, DELIVERY_ADDRESS, 
    DELIVERY_DETAIL_ADDRESS, DELIVERY_COMPANY_NAME, TRACKING_NUMBER, DELIVERY_REQUEST_NOTE, 
    CREATED_DATE, LAST_MODIFIED_DATE, LAST_MODIFIED_MEMBER, DELETED_DATE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ORDER_DELIVERY_MAIN
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ORDER_DELIVERY_MAIN
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="ID" keyProperty="id" parameterType="hyper.darye.mvc.model.entity.OrderDeliveryMain" useGeneratedKeys="true">
    insert into ORDER_DELIVERY_MAIN (ORDER_MAIN_ID, ORDER_TYPE_CODE_ID, RECEIVER_NAME, 
      RECEIVER_CONTACT, DELIVERY_ADDRESS, DELIVERY_DETAIL_ADDRESS, 
      DELIVERY_COMPANY_NAME, TRACKING_NUMBER, DELIVERY_REQUEST_NOTE, 
      CREATED_DATE, LAST_MODIFIED_DATE, LAST_MODIFIED_MEMBER, 
      DELETED_DATE)
    values (#{orderMainId,jdbcType=BIGINT}, #{orderTypeCodeId,jdbcType=BIGINT}, #{receiverName,jdbcType=VARCHAR}, 
      #{receiverContact,jdbcType=VARCHAR}, #{deliveryAddress,jdbcType=VARCHAR}, #{deliveryDetailAddress,jdbcType=VARCHAR}, 
      #{deliveryCompanyName,jdbcType=VARCHAR}, #{trackingNumber,jdbcType=VARCHAR}, #{deliveryRequestNote,jdbcType=VARCHAR}, 
      #{createdDate,jdbcType=TIMESTAMP}, #{lastModifiedDate,jdbcType=TIMESTAMP}, #{lastModifiedMember,jdbcType=BIGINT}, 
      #{deletedDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="ID" keyProperty="id" parameterType="hyper.darye.mvc.model.entity.OrderDeliveryMain" useGeneratedKeys="true">
    insert into ORDER_DELIVERY_MAIN
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderMainId != null">
        ORDER_MAIN_ID,
      </if>
      <if test="orderTypeCodeId != null">
        ORDER_TYPE_CODE_ID,
      </if>
      <if test="receiverName != null">
        RECEIVER_NAME,
      </if>
      <if test="receiverContact != null">
        RECEIVER_CONTACT,
      </if>
      <if test="deliveryAddress != null">
        DELIVERY_ADDRESS,
      </if>
      <if test="deliveryDetailAddress != null">
        DELIVERY_DETAIL_ADDRESS,
      </if>
      <if test="deliveryCompanyName != null">
        DELIVERY_COMPANY_NAME,
      </if>
      <if test="trackingNumber != null">
        TRACKING_NUMBER,
      </if>
      <if test="deliveryRequestNote != null">
        DELIVERY_REQUEST_NOTE,
      </if>
      <if test="createdDate != null">
        CREATED_DATE,
      </if>
      <if test="lastModifiedDate != null">
        LAST_MODIFIED_DATE,
      </if>
      <if test="lastModifiedMember != null">
        LAST_MODIFIED_MEMBER,
      </if>
      <if test="deletedDate != null">
        DELETED_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderMainId != null">
        #{orderMainId,jdbcType=BIGINT},
      </if>
      <if test="orderTypeCodeId != null">
        #{orderTypeCodeId,jdbcType=BIGINT},
      </if>
      <if test="receiverName != null">
        #{receiverName,jdbcType=VARCHAR},
      </if>
      <if test="receiverContact != null">
        #{receiverContact,jdbcType=VARCHAR},
      </if>
      <if test="deliveryAddress != null">
        #{deliveryAddress,jdbcType=VARCHAR},
      </if>
      <if test="deliveryDetailAddress != null">
        #{deliveryDetailAddress,jdbcType=VARCHAR},
      </if>
      <if test="deliveryCompanyName != null">
        #{deliveryCompanyName,jdbcType=VARCHAR},
      </if>
      <if test="trackingNumber != null">
        #{trackingNumber,jdbcType=VARCHAR},
      </if>
      <if test="deliveryRequestNote != null">
        #{deliveryRequestNote,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null">
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifiedDate != null">
        #{lastModifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifiedMember != null">
        #{lastModifiedMember,jdbcType=BIGINT},
      </if>
      <if test="deletedDate != null">
        #{deletedDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="hyper.darye.mvc.model.entity.OrderDeliveryMain">
    update ORDER_DELIVERY_MAIN
    <set>
      <if test="orderMainId != null">
        ORDER_MAIN_ID = #{orderMainId,jdbcType=BIGINT},
      </if>
      <if test="orderTypeCodeId != null">
        ORDER_TYPE_CODE_ID = #{orderTypeCodeId,jdbcType=BIGINT},
      </if>
      <if test="receiverName != null">
        RECEIVER_NAME = #{receiverName,jdbcType=VARCHAR},
      </if>
      <if test="receiverContact != null">
        RECEIVER_CONTACT = #{receiverContact,jdbcType=VARCHAR},
      </if>
      <if test="deliveryAddress != null">
        DELIVERY_ADDRESS = #{deliveryAddress,jdbcType=VARCHAR},
      </if>
      <if test="deliveryDetailAddress != null">
        DELIVERY_DETAIL_ADDRESS = #{deliveryDetailAddress,jdbcType=VARCHAR},
      </if>
      <if test="deliveryCompanyName != null">
        DELIVERY_COMPANY_NAME = #{deliveryCompanyName,jdbcType=VARCHAR},
      </if>
      <if test="trackingNumber != null">
        TRACKING_NUMBER = #{trackingNumber,jdbcType=VARCHAR},
      </if>
      <if test="deliveryRequestNote != null">
        DELIVERY_REQUEST_NOTE = #{deliveryRequestNote,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null">
        CREATED_DATE = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifiedDate != null">
        LAST_MODIFIED_DATE = #{lastModifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifiedMember != null">
        LAST_MODIFIED_MEMBER = #{lastModifiedMember,jdbcType=BIGINT},
      </if>
      <if test="deletedDate != null">
        DELETED_DATE = #{deletedDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="hyper.darye.mvc.model.entity.OrderDeliveryMain">
    update ORDER_DELIVERY_MAIN
    set ORDER_MAIN_ID = #{orderMainId,jdbcType=BIGINT},
      ORDER_TYPE_CODE_ID = #{orderTypeCodeId,jdbcType=BIGINT},
      RECEIVER_NAME = #{receiverName,jdbcType=VARCHAR},
      RECEIVER_CONTACT = #{receiverContact,jdbcType=VARCHAR},
      DELIVERY_ADDRESS = #{deliveryAddress,jdbcType=VARCHAR},
      DELIVERY_DETAIL_ADDRESS = #{deliveryDetailAddress,jdbcType=VARCHAR},
      DELIVERY_COMPANY_NAME = #{deliveryCompanyName,jdbcType=VARCHAR},
      TRACKING_NUMBER = #{trackingNumber,jdbcType=VARCHAR},
      DELIVERY_REQUEST_NOTE = #{deliveryRequestNote,jdbcType=VARCHAR},
      CREATED_DATE = #{createdDate,jdbcType=TIMESTAMP},
      LAST_MODIFIED_DATE = #{lastModifiedDate,jdbcType=TIMESTAMP},
      LAST_MODIFIED_MEMBER = #{lastModifiedMember,jdbcType=BIGINT},
      DELETED_DATE = #{deletedDate,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>