<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hyper.darye.mapper.order.OrderStatusCodeMapper">
  <resultMap id="BaseResultMap" type="hyper.darye.dto.OrderStatusCode">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="CREATED_DATE" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="LAST_MODIFIED_DATE" jdbcType="TIMESTAMP" property="lastModifiedDate" />
    <result column="LAST_MODIFIED_MEMBER" jdbcType="BIGINT" property="lastModifiedMember" />
    <result column="DELETED_DATE" jdbcType="TIMESTAMP" property="deletedDate" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, `NAME`, DESCRIPTION, CREATED_DATE, LAST_MODIFIED_DATE, LAST_MODIFIED_MEMBER, 
    DELETED_DATE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ORDER_STATUS_CODE
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ORDER_STATUS_CODE
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="ID" keyProperty="id" parameterType="hyper.darye.dto.OrderStatusCode" useGeneratedKeys="true">
    insert into ORDER_STATUS_CODE (`NAME`, DESCRIPTION, CREATED_DATE, 
      LAST_MODIFIED_DATE, LAST_MODIFIED_MEMBER, 
      DELETED_DATE)
    values (#{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{createdDate,jdbcType=TIMESTAMP}, 
      #{lastModifiedDate,jdbcType=TIMESTAMP}, #{lastModifiedMember,jdbcType=BIGINT}, 
      #{deletedDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="ID" keyProperty="id" parameterType="hyper.darye.dto.OrderStatusCode" useGeneratedKeys="true">
    insert into ORDER_STATUS_CODE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        `NAME`,
      </if>
      <if test="description != null">
        DESCRIPTION,
      </if>
      <if test="createdDate != null">
        CREATED_DATE,
      </if>
      <if test="lastModifiedDate != null">
        LAST_MODIFIED_DATE,
      </if>
      <if test="lastModifiedMember != null">
        LAST_MODIFIED_MEMBER,
      </if>
      <if test="deletedDate != null">
        DELETED_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null">
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifiedDate != null">
        #{lastModifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifiedMember != null">
        #{lastModifiedMember,jdbcType=BIGINT},
      </if>
      <if test="deletedDate != null">
        #{deletedDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="hyper.darye.dto.OrderStatusCode">
    update ORDER_STATUS_CODE
    <set>
      <if test="name != null">
        `NAME` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null">
        CREATED_DATE = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifiedDate != null">
        LAST_MODIFIED_DATE = #{lastModifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifiedMember != null">
        LAST_MODIFIED_MEMBER = #{lastModifiedMember,jdbcType=BIGINT},
      </if>
      <if test="deletedDate != null">
        DELETED_DATE = #{deletedDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="hyper.darye.dto.OrderStatusCode">
    update ORDER_STATUS_CODE
    set `NAME` = #{name,jdbcType=VARCHAR},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      CREATED_DATE = #{createdDate,jdbcType=TIMESTAMP},
      LAST_MODIFIED_DATE = #{lastModifiedDate,jdbcType=TIMESTAMP},
      LAST_MODIFIED_MEMBER = #{lastModifiedMember,jdbcType=BIGINT},
      DELETED_DATE = #{deletedDate,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>