<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hyper.darye.mvc.mapper.order.OrderDetailStatusMapper">
  <resultMap id="BaseResultMap" type="hyper.darye.mvc.model.entity.OrderDetailStatus">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="ORDER_DETAIL_ID" jdbcType="BIGINT" property="orderDetailId" />
    <result column="ORDER_STATUS_CODE_ID" jdbcType="BIGINT" property="orderStatusCodeId" />
    <result column="ORDER_DATE" jdbcType="TIMESTAMP" property="orderDate" />
    <result column="CREATED_DATE" jdbcType="TIMESTAMP" property="createdDate" />
    <result column="LAST_MODIFIED_DATE" jdbcType="TIMESTAMP" property="lastModifiedDate" />
    <result column="LAST_MODIFIED_MEMBER" jdbcType="BIGINT" property="lastModifiedMember" />
    <result column="DELETED_DATE" jdbcType="TIMESTAMP" property="deletedDate" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, ORDER_DETAIL_ID, ORDER_STATUS_CODE_ID, ORDER_DATE, CREATED_DATE, LAST_MODIFIED_DATE, 
    LAST_MODIFIED_MEMBER, DELETED_DATE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ORDER_DETAIL_STATUS
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ORDER_DETAIL_STATUS
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="ID" keyProperty="id" parameterType="hyper.darye.mvc.model.entity.OrderDetailStatus" useGeneratedKeys="true">
    insert into ORDER_DETAIL_STATUS (ORDER_DETAIL_ID, ORDER_STATUS_CODE_ID, ORDER_DATE, 
      CREATED_DATE, LAST_MODIFIED_DATE, LAST_MODIFIED_MEMBER, 
      DELETED_DATE)
    values (#{orderDetailId,jdbcType=BIGINT}, #{orderStatusCodeId,jdbcType=BIGINT}, #{orderDate,jdbcType=TIMESTAMP}, 
      #{createdDate,jdbcType=TIMESTAMP}, #{lastModifiedDate,jdbcType=TIMESTAMP}, #{lastModifiedMember,jdbcType=BIGINT}, 
      #{deletedDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="ID" keyProperty="id" parameterType="hyper.darye.mvc.model.entity.OrderDetailStatus" useGeneratedKeys="true">
    insert into ORDER_DETAIL_STATUS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderDetailId != null">
        ORDER_DETAIL_ID,
      </if>
      <if test="orderStatusCodeId != null">
        ORDER_STATUS_CODE_ID,
      </if>
      <if test="orderDate != null">
        ORDER_DATE,
      </if>
      <if test="createdDate != null">
        CREATED_DATE,
      </if>
      <if test="lastModifiedDate != null">
        LAST_MODIFIED_DATE,
      </if>
      <if test="lastModifiedMember != null">
        LAST_MODIFIED_MEMBER,
      </if>
      <if test="deletedDate != null">
        DELETED_DATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderDetailId != null">
        #{orderDetailId,jdbcType=BIGINT},
      </if>
      <if test="orderStatusCodeId != null">
        #{orderStatusCodeId,jdbcType=BIGINT},
      </if>
      <if test="orderDate != null">
        #{orderDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createdDate != null">
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifiedDate != null">
        #{lastModifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifiedMember != null">
        #{lastModifiedMember,jdbcType=BIGINT},
      </if>
      <if test="deletedDate != null">
        #{deletedDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="hyper.darye.mvc.model.entity.OrderDetailStatus">
    update ORDER_DETAIL_STATUS
    <set>
      <if test="orderDetailId != null">
        ORDER_DETAIL_ID = #{orderDetailId,jdbcType=BIGINT},
      </if>
      <if test="orderStatusCodeId != null">
        ORDER_STATUS_CODE_ID = #{orderStatusCodeId,jdbcType=BIGINT},
      </if>
      <if test="orderDate != null">
        ORDER_DATE = #{orderDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createdDate != null">
        CREATED_DATE = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifiedDate != null">
        LAST_MODIFIED_DATE = #{lastModifiedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifiedMember != null">
        LAST_MODIFIED_MEMBER = #{lastModifiedMember,jdbcType=BIGINT},
      </if>
      <if test="deletedDate != null">
        DELETED_DATE = #{deletedDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="hyper.darye.mvc.model.entity.OrderDetailStatus">
    update ORDER_DETAIL_STATUS
    set ORDER_DETAIL_ID = #{orderDetailId,jdbcType=BIGINT},
      ORDER_STATUS_CODE_ID = #{orderStatusCodeId,jdbcType=BIGINT},
      ORDER_DATE = #{orderDate,jdbcType=TIMESTAMP},
      CREATED_DATE = #{createdDate,jdbcType=TIMESTAMP},
      LAST_MODIFIED_DATE = #{lastModifiedDate,jdbcType=TIMESTAMP},
      LAST_MODIFIED_MEMBER = #{lastModifiedMember,jdbcType=BIGINT},
      DELETED_DATE = #{deletedDate,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>