@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Common Colors */
  --colors-common-0: #1e1e1e;
  --colors-common-100: #ffffff;

  /* Neutral Colors */
  --colors-neutral-5: #0c0d0d;
  --colors-neutral-10: #191a1a;
  --colors-neutral-20: #3e3f41;
  --colors-neutral-30: #57595b;
  --colors-neutral-40: #707275;
  --colors-neutral-50: #8a8b8f;
  --colors-neutral-60: #a4a5a8;
  --colors-neutral-70: #bebfc1;
  --colors-neutral-80: #d8d8da;
  --colors-neutral-90: #e5e5e6;
  --colors-neutral-95: #ededee;
  --colors-neutral-99: #f5f5f5;

  /* Cool Neutral Colors */
  --colors-cool-neutral-5: #141415;
  --colors-cool-neutral-10: #2c2d30;
  --colors-cool-neutral-20: #42444d;
  --colors-cool-neutral-30: #595c69;
  --colors-cool-neutral-40: #717584;
  --colors-cool-neutral-50: #8b8f9c;
  --colors-cool-neutral-60: #a7aab4;
  --colors-cool-neutral-70: #c2c4cb;
  --colors-cool-neutral-80: #d6d7dc;
  --colors-cool-neutral-85: #eeeff1;
  --colors-cool-neutral-90: #f4f4f6;
  --colors-cool-neutral-95: #f7f7f8;
  --colors-cool-neutral-99: #f9f9fb;

  /* Soda Colors */
  --colors-soda-10: #044e49;
  --colors-soda-20: #067e77;
  --colors-soda-30: #09b1a7;
  --colors-soda-40: #22c3ba;
  --colors-soda-50: #4bd2ca;
  --colors-soda-60: #74dcd6;
  --colors-soda-70: #9de7e2;
  --colors-soda-80: #b6ede9;
  --colors-soda-90: #d6f5f3;
  --colors-soda-95: #e9fbfa;
  --colors-soda-99: #f6fdfd;

  /* Red Colors */
  --colors-red-10: #4e040b;
  --colors-red-20: #7e0712;
  --colors-red-30: #ae091a;
  --colors-red-40: #df0c21;
  --colors-red-50: #f42539;
  --colors-red-60: #f42539;
  --colors-red-70: #ff5364;
  --colors-red-80: #ffb8bf;
  --colors-red-90: #ffccd1;
  --colors-red-95: #ffdbdf;
  --colors-red-99: #fff5f6;
}


body {
  font-family: Arial, Helvetica, sans-serif;
}
